.paper {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #654321;
    color: white;
    font-family: 'Amatic SC', cursive;
    max-height: 300px;
}

@import "../../styles/plugin-react-slick.scss";