.description{
  font-family: 'Architects Daughter';
  background-color: #654321 !important;
  padding: 30px;
  margin: 20px;
  color: white !important;
}
 
.img {
  max-width: 100%;
  min-width: 100%;
  padding: 20px;
}

.font{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.cart-button{
  background-color: white !important;
  border-radius: 0px !important;
}