.description{
  font-family: 'Architects Daughter';
  background-color: #654321 !important;
  padding: 30px;
  margin: 20px;
  color: white !important;
}
 
.img {
  max-width: 100%;
  min-width: 100%;
  padding: 20px;
}

.font{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.quanity-width{
  width: 35%;
}

.quanity-button{
  background-color: white !important;
  border-radius: 0px !important;
  outline: none !important;
}

.cart-button{
  background-color: white !important;
  border-radius: 0px !important;
}

.quanity-input {
  border-color: white;
  border-style: solid;
  color: white;
  background-color: transparent;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 0px;
  text-align: center;
}

.quanity-input::placeholder {
  color: #f5d7b9
}

.quanity-input:focus {
  border-color: white;
  border-style: solid;
  color: white;
  background-color: transparent;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 0px;
  text-align: center;
}