.cart-font{
  font-family: 'Amatic SC';
}

.cart-table{
  background-color: (#c58c4a, 0.5) !important;
  padding: '10px 20px' !important;
}

.summaryTable td{
  font-weight: 450;
  font-size: 25px;
  padding: 6px 1em;
}

.summaryTable td + td {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align:right;
  font-size:16px;
  padding: 6px 1em;
}

.summaryTable{
  width: 100%;
  padding: 20px;
}

.summaryTable tr:nth-last-child(2){
  border-bottom: 1px solid lightgray;
}

.secondary-button{
  background-color: rgba(#c58c4a, 0.75) !important;
  border-radius: 0px !important;
  width:100%;
  box-shadow: none !important;
  color: white !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
  outline: none !important;
}

.primary-button{
  background-color: #654321 !important;
  border-radius: 0px !important;
  outline: none !important;
  width:100%;
  border: 0 !important;
  color: white !important;
  box-shadow: none !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
}
