.headerLogo {
  // margin: auto; 
  width: 80%;
  height: 30em;
}

@media (max-width:700px){
  .headerLogo {
    height: 150px;
  }
}

.productCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

@media (max-width:700px){
  .productCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }
}

.headers {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: #654321;
  font-weight: bold;
}

.feature {
  font-family: 'Amatic SC', cursive;
  background-color: rgba(#c58c4a, 0.5) !important;
  padding: 20px;
}

.shopCard {
  font-family: 'Amatic SC', cursive;
}

.brown {
  color: #654321;
}

.shopPointer {
  cursor: pointer;
}

