.headerLogo {
  // margin: auto; 
  width: 75%;
  height: 30em;
}

@media (max-width:700px){
  .headerLogo {
      height: 200px;
  }
}

.productCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

@media (max-width:700px){
  .productCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }
}

.headers {
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: #654321;
}

