.card-style {
  margin: 10px 20px;
  max-width: 250px;
  height: 315px;
  padding: 15px;
}

.card-style img {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.card-style h4 {
  font-weight: bold;
  font-family: "Amatic SC";
}

.card-style p {
  font-family: "Montserrat", sans-serif;
}
